body {
  background-color: #102542;
  color: #102542;
}
header{
  text-align: center;
  width: 100%;
  background-color: #CDD7D6;
  margin:0;
}
form {
  display:flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  font-size: 1.2rem;
  width: 60%;
  margin: 10px auto;
  background-color: #CDD7D6;
  width: 100%;
  /* height: 50px; */
  margin:0 0 40px 0;
}
.mainDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #102542;
}
.imageList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.imageItem {
  border: #F87060 solid 4px;
  width: 145px;
  height: 220px;
  text-align: center;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;;
  background-color: #CDD7D6;
  border-radius: 10px;
  position: absolute;
  animation: MoveUpDown 2s linear infinite;
  top: 0;
  left: 0;
}

.imageItem img {
  width: 100px;
}
@keyframes MoveUpDown {
  0%, 100% {
    top: 0;
  }
  50% {
    top: 15px;
  }
}
.expand {
  animation: TextExpand 1s infinite;
}
@keyframes TextExpand {
  0%, 100% {
    color:white;
  }
  25% {
    color:yellow;
  }
  50% {
    color:red;
  }
  75% {
    color: blue;
  }
}
.orange {
  color: #F87060;
}
.container {
  padding: 5px;
  position: relative;
  width: 160px;
  height: 250px;
}