header{
  text-align: center;
}
form {
  display:flex;
  justify-content: space-between;
  font-size: 1.2rem;
  width: 60%;
  margin: 10px auto;
}
.mainDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.imageList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.imageItem {
  border: black solid 1px;
  width: 150px;
  height: 240px;
  text-align: center;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;;
}

.imageItem img {
  width: 100px;
}